#header{
    height: 40%;
    width: auto;
    background-image: url("https://raw.githubusercontent.com/studZgrinis/zanimation.github.io/master/img/Pagrindinis.png");
    background-position: center center;
    background-size: cover;

    text-shadow: 3px 4px 5px #000;
    text-align: center;
  
}
#header img{
        display: block;
    margin: auto;
  
}

#header h1{
    font-size: 50;
    margin: 0;
    background-color:rgba(22, 22, 22, 0.5);
    font-family:"Alegreya Sans",sans-serif;
    color: ghostwhite;
}
body{
    margin: 0;
    background-color: rgb(55, 77, 114);
    background-image: url("img/background.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

#main{
    background-color: floralwhite;
    width:70%;
    height: auto;
    margin: auto;
    padding-top: 3%; 
    padding-bottom: 3%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 4px 5px #000;
    padding-left: 30;
    padding-right: 30;
}

#wat {
    height: 300px;
    width: 300px;
}

#footer{
    height: 15%;
    background-color: rgb(111, 123, 142);
    margin-top: 3%;
    bottom:0px;
    width:100%;
   
          background: rgb(111, 123, 142); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(111, 123, 142), rgb(35, 48, 68)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(111, 123, 142), rgb(35, 48, 68)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(111, 123, 142),rgb(35, 48, 68)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(111, 123, 142), rgb(35, 48, 68)); /* Standard syntax */
}

#footer a{
    color:#dee9fc;
}

#main h1{
    font-family:"Alegreya Sans",sans-serif;
    text-align: center;
    color: black;
    
   
}

h2{
    font-family: "Lucida Console", Monaco, monospace;
    color: ghostwhite;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: monospace;
    margin: 0;
}

ul {text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20;
    background-color: darkslategray;
        background: darkslategray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(darkslategray, rgb(35, 48, 68)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(darkslategray, rgb(35, 48, 68)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(darkslategray,rgb(35, 48, 68)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(darkslategray, rgb(35, 48, 68)); /* Standard syntax */
    margin-bottom: 3%;
}
 li a{
    color: azure;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    text-decoration: none;
}
li {
    
    display: inline;
    padding:17px;
    padding-top: 35px;
    padding-bottom: 22px;
    margin: auto;
}

li:hover {
    animation-name:fade;
    animation-duration: 3s;
    color: red;
}



#pattern {
    height: 50;
    width: 100%;
    background-image: url('img/pattern.png');
    background-size: contain;
    background-position: center center;
}

#fr{
    display: inline-block;
    width: 30%;
    margin-top: 10px;
    padding-left: 10px;
    border-left-style:solid;
    border-width: thin;
    float: right
}
#fl{display: inline-block;
    padding-top: 10px;
    float: right;
    width: 30%;
    height: 90%;
    text-align: center;
    
}



/*darbai.html*/
#lightbox{
    margin-bottom: 100px;
    margin-top: 50px;
}













.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 30%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
    padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0,0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 900px;

}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* projektai.html*/

#projektai{
   width: 70%;
    margin: 0;
    border-style: solid;

}

#item{
    
    margin: 70px;
}

#left{
    display: inline-block;
    height: auto;
    width: 49%;
    margin: 0;
}
#right{
    display: inline-block;
    width: 50%;
    height: auto;
    top:0px;
    margin: 0;
    text-align: left;
    
}


/*animacijos*/

@keyframes fade {
    0% {background-color:rgb(0,0,0,0);}
    25% {background-color: dimgray;}
    100%{background-color:rgb(0,0,0,0);}
}


/*responsive tablet*/

@media only screen and (max-width: 768px) {
    #header{
        height: 20%;
       
    }
    
    #header img{
        float: left;
        margin-left: 5%;
    }
    
    #header h2{
        background-color:rgba(22, 22, 22, 0.5);
        
    }
    
    #main h1{
        font-size: 25px;
    }
    #main h3{
        font-size: 18px;
    }
    
    #wat{
        height: 200px;
        width: 200px;
    }
    
    .column img{
        height: 100px;
        width: auto;
    }
    
    #item img{
        width: 100%;
        height: auto;
      
    }
    #item{
        margin: 10px;
        margin-bottom: 100px;
    }
    
    #right{
        margin-left: 5px;
    }
    
    ul{
        height: 15px;
    }
    
    li a{
        font-size: 20px;
    }
    
    li {
    
   
    padding:17px;
    padding-top: 25px;
    padding-bottom: 12px;
  
}
}

/*responsive*/

@media only screen and (max-width: 670px) {

    #header h2{
        font-size: 20px;
    }
  
    
        
    
    .column{
        margin-left: 20%;
        width: auto;
    }
    .row{
        width: 70%;
        margin: auto;
    }
   
}

@media only screen and (max-width: 540px) {

    #header h1{
      font-size: 30px;
    }
    #header img{
        display: none;
    }
    
       ul{
        height: 10px;
    }
    
    li a{
        font-size: 15px;
    }
    
    li {
    
   
    padding:17px;
    padding-top: 20px;
    padding-bottom: 12px;
  
}
    
    #main h1{
        font-size: 18px;
    }
    #main h3{
        font-size: 12px;
    }   
    
    #right{
        width: 100%;
    }
    
    #komentaras{
        width: 300px;
    }
    
}

@media only screen and (max-width: 450px) {
      ul{
        height: 5px;
    }
    
    li a{
        font-size: 10px;
    }
    
    li {
    
   
    padding:10px;
    padding-top: 20px;
    padding-bottom: 8px;
      
}
     #footer{
            font-size: 5px;
        } 
    #pattern{
        height: 20px;
    }
    
    #main h1{
        font-size: 13px;
    }
    
    #main h3{
        font-size: 10px;
    }
    
    #wat{
        height: 100px;
        width: auto;
    }
    #main{
        margin-bottom: 15px;
    }
    
    .column{
        margin: 0;
        margin-left: 10%;
    }
    
    .column img{
        height: 70px;
        width: auto;
        margin: 10px;
    }
    
    .myslides{
        margin-top: 20px;
    }
    
    #item p{
        font-size: 8px;
    }
    
    #item{
        margin-bottom: 30px;
    }
    
    #komentaras{
        width: 200px;
    }
}
